.stopwatch {
  display: flex;
  justify-content: center;
  vertical-align: center;

  margin: 50px 0px 20px;
  padding: 20px 20px;
  font-size: 20px;
}

.stopwatchButtonContainer {
  display: flex;
  justify-content: center;
  vertical-align: center;
  gap: 10px;
}

.stopwatchButton {
  padding: 10px;
}